.theme-container 
  .page
    background-color: #ffffee
  .sidebar
    background-color: #ddddff
  .navbar
    background-color: #E04E39

.navbar .site-name
  color: #fff

.page
  .content:not(.custom)
    max-width: 888px;


