.getting-started .outbound,.nav-links .outbound{
  display: none;
}

.getting-started a img{
  margin-right:8px;
}

body {
  background: no-repeat top center #faf4f1 !important;
  background: url(/img/background-shades-a575a9b9.svg), none
}
//global
p code{
  // color: #e96900!important;
  // background-color: #f8f8f8!important;
  // margin: 0 2px!important;
  // padding: 0.25rem 0.4rem!important;
}

blockquote {
  font-size: 15px!important;
  color: #858585!important;
  border-left: 0.25rem solid #42b983!important;
  font-weight: 1000!important;
}

.home .hero .action-button:hover {
  background-color: #fb3636eb;    
}
.home .hero .action-button {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  background-color: #f37765;    
  border-bottom: 1px solid #f37070;
}

.search-box input:focus {
  cursor: auto;
  border-color: #f37070;
}

.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active {
  margin-bottom: -2px;
  border-bottom: 2px solid #f37070;
}